@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap");
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:after,
:before {
    display: block;
}
.icon-pin {
    fill: #616a82;
    width: 20px;
    height: 20px;
}

/* --------------------------------- */

.date-sticker {
    width: 44px;
}
.date-sticker .date-sticker-day,
.date-sticker .date-sticker-month {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.date-sticker .date-sticker-day {
    padding: 10px 0 6px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #293249;
    font-size: 1.25rem;
}
.date-sticker .date-sticker-month {
    padding: 4px 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #40d04f;
    font-size: 0.75rem;
}
.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 16px;
    -ms-flex-align: start;
    align-items: start;
}
.grid.centered {
    -ms-flex-pack: center;
    justify-content: center;
}
.grid.stretched {
    -ms-flex-align: stretch;
    align-items: stretch;
}
.grid.top-space {
    margin-top: 64px;
}
.grid.grid-3-6-3 {
    grid-template-areas: "sidebar1 content sidebar2";
    grid-template-columns: 23.9864864865% 49.3243243243% 23.9864864865%;
}
.grid.grid-3-6-3 > .grid-column:first-child {
    grid-area: sidebar1;
}
.grid.grid-3-6-3 > .grid-column:nth-child(2) {
    grid-area: content;
}
.grid.grid-3-6-3 > .grid-column:nth-child(3) {
    grid-area: sidebar2;
}
.grid.grid-6-3_9 {
    grid-template-areas: "content sidebar";
    grid-template-columns: 66.0633484163% 32.1266968326%;
}
.grid.grid-6-3_9 > .grid-column:first-child {
    grid-area: content;
}
.grid.grid-6-3_9 > .grid-column:nth-child(2) {
    grid-area: sidebar;
}
.grid.grid-3-6_9 {
    grid-template-areas: "sidebar content";
    grid-template-columns: 32.1266968326% 66.0633484163%;
}
.grid.grid-3-6_9 > .grid-column:first-child {
    grid-area: sidebar;
}
.grid.grid-3-6_9 > .grid-column:nth-child(2) {
    grid-area: content;
}
.grid.grid-3-9 {
    grid-template-areas: "sidebar content";
    grid-template-columns: 23.9864864865% 74.6621621622%;
}
.grid.grid-3-9 > .grid-column:first-child {
    grid-area: sidebar;
}
.grid.grid-3-9 > .grid-column:nth-child(2) {
    grid-area: content;
}
.grid.grid-9-3 {
    grid-template-areas: "content sidebar";
    grid-template-columns: 74.6621621622% 23.9864864865%;
}
.grid.grid-9-3 > .grid-column:first-child {
    grid-area: content;
}
.grid.grid-9-3 > .grid-column:nth-child(2) {
    grid-area: sidebar;
}
.grid.grid-8-4 {
    grid-template-areas: "content sidebar";
    grid-template-columns: 66.2162162162% 32.4324324324%;
}
.grid.grid-8-4 > .grid-column:first-child {
    grid-area: content;
}
.grid.grid-8-4 > .grid-column:nth-child(2) {
    grid-area: sidebar;
}
.grid.grid-6-3 {
    grid-template-areas: "content sidebar";
    grid-template-columns: 49.3243243243% 23.9864864865%;
}
.grid.grid-6-3 > .grid-column:first-child {
    grid-area: content;
}
.grid.grid-6-3 > .grid-column:nth-child(2) {
    grid-area: sidebar;
}
.grid.grid-half {
    grid-template-columns: 1fr 1fr;
}
.grid.grid-4-4,
.grid.grid-4-4-4 {
    grid-template-columns: repeat(auto-fit, 384px);
}
.grid.grid-3-3-3,
.grid.grid-3-3-3-3 {
    grid-template-columns: repeat(auto-fit, 284px);
}
.grid.grid-2-2-2-2-2-2 {
    grid-template-columns: repeat(auto-fit, 184px);
}
.grid.grid-layout-1 {
    grid-template-columns: repeat(4, 23.9864864865%);
    grid-template-areas: "sidebar header header header" "sidebar content content contentsidebar";
}
.grid.grid-layout-1 .grid-sidebar {
    grid-area: sidebar;
}
.grid.grid-layout-1 .grid-header {
    grid-area: header;
}
.grid.grid-layout-1 .grid-content {
    grid-area: content;
}
.grid.grid-layout-1 .grid-content-sidebar {
    grid-area: contentsidebar;
}
.grid .grid-column {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 16px;
    min-width: 0;
}
.grid .grid-column .loader-bars {
    margin: 48px auto 0;
}
.grid .grid-column .simple-tab-items {
    margin: 16px 0;
}
.photos-masonry {
    display: grid;
    grid-gap: 16px;
    grid-template-rows: repeat(3, 284px);
    grid-template-areas: "a b c c" "a d e f" "g h i j";
}
.photos-masonry .photo-preview:first-child {
    grid-area: a;
}
.photos-masonry .photo-preview:nth-child(2) {
    grid-area: b;
}
.photos-masonry .photo-preview:nth-child(3) {
    grid-area: c;
}
.photos-masonry .photo-preview:nth-child(4) {
    grid-area: d;
}
.photos-masonry .photo-preview:nth-child(5) {
    grid-area: e;
}
.photos-masonry .photo-preview:nth-child(6) {
    grid-area: f;
}
.photos-masonry .photo-preview:nth-child(7) {
    grid-area: g;
}
.photos-masonry .photo-preview:nth-child(8) {
    grid-area: h;
}
.photos-masonry .photo-preview:nth-child(9) {
    grid-area: i;
}
.photos-masonry .photo-preview:nth-child(10) {
    grid-area: j;
}
@media screen and (max-width: 1500px) {
    .content-grid {
        max-width: 1142px;
    }
}
@media screen and (max-width: 1366px) {
    .content-grid {
        max-width: 100%;
        padding: 112px 112px 200px;
        margin: 0 auto;
    }
    .content-grid.full {
        padding: 80px 80px 0;
    }
    .content-grid.medium {
        max-width: 100%;
        padding: 0 112px 200px;
    }
}
@media screen and (max-width: 1365px) {
    .content-grid .account-hub-content .section-header:first-child {
        margin-top: 60px;
    }
    .grid.grid-3-6-3 {
        grid-template-columns: 32.4324324324% 66.2162162162%;
        grid-template-areas: "sidebar1 content" "sidebar2 content";
    }
    .grid.grid-3-9,
    .grid.grid-8-4,
    .grid.grid-9-3 {
        grid-template-columns: 100%;
        grid-template-areas: "content" "sidebar";
    }
    .grid.grid-3-9 .forum-sidebar,
    .grid.grid-8-4 .forum-sidebar,
    .grid.grid-9-3 .forum-sidebar {
        display: none;
    }
    .grid.grid-layout-1 {
        grid-template-areas: "header header header header" "sidebar sidebar contentsidebar contentsidebar" "content content content content";
    }
    .grid.grid-half.change-on-desktop {
        grid-template-columns: 100%;
    }
    .grid.centered-on-mobile,
    .photos-masonry {
        -ms-flex-pack: center;
        justify-content: center;
    }
    .photos-masonry {
        grid-template-areas: unset;
        grid-template-columns: repeat(auto-fit, 184px);
        grid-template-rows: none;
    }
    .photos-masonry .photo-preview {
        height: 184px;
    }
    .photos-masonry .photo-preview:first-child,
    .photos-masonry .photo-preview:nth-child(2),
    .photos-masonry .photo-preview:nth-child(3),
    .photos-masonry .photo-preview:nth-child(4),
    .photos-masonry .photo-preview:nth-child(5),
    .photos-masonry .photo-preview:nth-child(6),
    .photos-masonry .photo-preview:nth-child(7),
    .photos-masonry .photo-preview:nth-child(8),
    .photos-masonry .photo-preview:nth-child(9),
    .photos-masonry .photo-preview:nth-child(10) {
        grid-area: auto;
    }
}
@media screen and (max-width: 1070px) {
    .grid.grid-3-6-3 {
        grid-template-columns: 100%;
        grid-template-areas: "sidebar1" "sidebar2" "content";
    }
    .grid.grid-3-6-3.mobile-prefer-content {
        grid-template-areas: "content" "sidebar1" "sidebar2";
    }
    .grid.grid-3-6-3.mobile-prefer-content .grid-column:first-child,
    .grid.grid-3-6-3.mobile-prefer-content .grid-column:nth-child(3) {
        /* display: none; */
    }
    .grid.grid-3-6_9,
    .grid.grid-3-9,
    .grid.grid-6-3_9 {
        grid-template-columns: 100%;
        grid-template-areas: "content" "sidebar";
    }
}
@media screen and (max-width: 960px) {
    .grid.grid-half,
    .grid.grid-layout-1 {
        grid-template-columns: 100%;
    }
    .grid.grid-layout-1 {
        grid-template-areas: "header" "contentsidebar" "sidebar" "content";
    }
}
@media screen and (max-width: 680px) {
    .content-grid {
        width: 95%;
        padding: 92px 0 200px;
    }
    .content-grid.full {
        width: 100%;
        padding: 60px 0 0;
    }
    .content-grid.medium {
        width: 95%;
        padding: 0 0 200px;
    }
    .chat-widget,
    .navigation-widget-desktop {
        display: none;
    }
    .chat-widget-wrap .chat-widget {
        display: block;
    }
}
@media screen and (max-width: 460px) {
    .grid.grid-3-3-3-3,
    .grid.grid-4-4,
    .grid.grid-4-4-4 {
        grid-template-columns: 100%;
    }
}

/* 000-----------------Iske niche kaam ka hai */

.post-preview {
    min-height: 516px;
    border-radius: 12px;
    background-color: #1d2333;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
}
.post-preview.medium {
    min-height: auto;
    box-shadow: none;
}
.post-preview.medium .post-preview-image {
    height: 320px;
    border-radius: 0;
}
.post-preview.medium .post-preview-info {
    width: 90.4109589041%;
    margin-top: -140px;
}
.post-preview.medium .post-preview-info .post-preview-title {
    font-size: 1.5rem;
    line-height: 1.3333333333em;
}
.post-preview.medium .post-preview-info .post-preview-text {
    margin-top: 24px;
}
.post-preview .post-preview-image {
    height: 210px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.post-preview .post-preview-info {
    width: 91.6666666667%;
    padding: 28px;
    margin: -48px auto 0;
    border-radius: 12px;
    background-color: #21283b;
    box-shadow: 3px 5px 40px 0 rgba(0, 0, 0, 0.1);
}
.post-preview .post-preview-info.fixed-height {
    height: 292px;
    padding: 28px 28px 22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.post-preview .post-preview-info.fixed-height .post-preview-text {
    margin-top: 0;
}
.post-preview .post-preview-info .post-preview-timestamp {
    color: #9aa4bf;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}
.post-preview .post-preview-info .post-preview-title {
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
}
.post-preview .post-preview-info .post-preview-text {
    margin-top: 16px;
    font-size: 0.875rem;
    line-height: 1.7142857143em;
    font-weight: 500;
}
.post-preview .post-preview-info .post-preview-link {
    margin-top: 20px;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
}
.post-preview .content-actions {
    margin-top: 10px;
    padding: 0 28px;
}
.post-peek-list .post-peek {
    margin-bottom: 22px;
}
.post-peek-list .post-peek:last-child {
    margin-bottom: 0;
}
.post-peek {
    min-height: 40px;
    padding-left: 52px;
    position: relative;
}
.post-peek .post-peek-image {
    position: absolute;
    top: 0;
    left: 0;
}
.post-peek .post-peek-title {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.1428571429em;
}
.post-peek .post-peek-title a {
    color: #fff;
    font-weight: 700;
}
.post-peek .post-peek-text {
    margin-top: 8px;
    color: #9aa4bf;
    font-size: 0.75rem;
    font-weight: 500;
}
.post-preview-line-list .post-preview-line {
    margin-bottom: 22px;
}
.post-preview-line-list .post-preview-line:last-child {
    margin-bottom: 0;
}
.post-preview-line .post-preview-line-title {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.1428571429em;
}
.post-preview-line .post-preview-line-title a {
    color: #fff;
    font-weight: 700;
}
.post-preview-line .post-preview-line-meta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8px;
}
.post-preview-line .user-avatar {
    margin-right: 8px;
}
.post-preview-line .post-preview-line-author {
    margin-right: 6px;
    font-size: 0.75rem;
    font-weight: 700;
}
.post-preview-line .post-preview-line-author a {
    color: #fff;
    font-weight: 700;
}
.post-preview-line .post-preview-line-timestamp {
    color: #9aa4bf;
    font-size: 0.75rem;
    font-weight: 500;
}
@media screen and (max-width: 460px) {
    .post-preview .post-preview-info.fixed-height {
        display: block;
        height: auto;
        padding: 28px;
    }
    .post-preview .post-preview-info.fixed-height .post-preview-text {
        margin-top: 16px;
    }
}

/* ----------------------------------------------- */

.event-preview-list .event-preview {
    margin-bottom: 32px;
}
.event-preview-list .event-preview:last-child {
    margin-bottom: 0;
}
.event-preview {
    border-radius: 12px;
    background-color: #1d2333;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
}
.event-preview.small {
    box-shadow: none;
}
.event-preview.small .event-preview-cover {
    height: 80px;
    border-radius: 12px;
}
.event-preview.small .event-preview-info {
    display: block;
    height: auto;
    padding: 20px 0 0 42px;
}
.event-preview.small .event-preview-info .date-sticker {
    width: 30px;
    top: 22px;
    left: 0;
}
.event-preview.small .event-preview-info .date-sticker .date-sticker-day {
    padding: 6px 0 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1rem;
}
.event-preview.small .event-preview-info .date-sticker .date-sticker-month {
    padding: 2px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 0.625rem;
}
.event-preview.small .event-preview-title {
    font-size: 0.875rem;
}
.event-preview.small .event-preview-text {
    margin-top: 12px;
    font-size: 0.75rem;
    line-height: 1.1666666667em;
}
.event-preview.small .event-preview-timestamp {
    margin-top: 6px;
    color: #9aa4bf;
    font-size: 0.75rem;
}
.event-preview .event-preview-cover {
    width: 100%;
    height: 98px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.event-preview .event-preview-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 28px 32px;
    position: relative;
}
.event-preview .event-preview-info-top {
    margin-bottom: 1em;
}
.event-preview .event-preview-info .date-sticker {
    position: absolute;
    top: -42px;
    left: 28px;
}
.event-preview .event-preview-title {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.event-preview .event-preview-timestamp {
    margin-top: 10px;
    font-size: 0.875rem;
    font-weight: 500;
}
.event-preview .event-preview-timestamp .bold {
    font-weight: 700;
}
.event-preview .event-preview-text {
    margin-top: 20px;
    color: #9aa4bf;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.4285714286em;
}
.event-preview .meta-line {
    margin-top: 26px;
}
.event-preview .button {
    width: 100%;
    margin-top: 38px;
}
