@font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/vikinger-landing/s/titilliumweb/v15/NaPecZTIAOhVxoMyOr9n_E7fdMPmCA.ttf)
        format("truetype");
}
@font-face {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/assets/vikinger-landing/s/titilliumweb/v15/NaPDcZTIAOhVxoMyOr9n_E7ffEDBGItzZg.ttf)
        format("truetype");
}
